<div class="body-content">
    <p id="notice"><%= notice %></p>
    <h3>投稿の詳細(show)</h3>
    <p>
    <strong>Blog_image:</strong>
    <%= image_tag @blog.blog_image.url %>
    </p>
    <p>
    <strong>Content:</strong>
    <%= @blog.content %>
    </p><br>
    <%= link_to '編集', edit_blog_path(@blog) %> |
    <%= link_to '一覧', blogs_path %>
</div>