<div class="body-content">
    <h3>おすすめ(user_index)</h3>
    <% @users.each do |user| %>
        <div class="body-frame">
            <%= user.name %>
            <%= user.user_image %>
            <%= user.pr %>
            <%= user.address %><br>
            <%= link_to 'Show', user %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    <% end %>
</div>