<div class="body-content">
<p id="notice"><%= notice %></p>
<h3>プロフィール(user_show)</h3>
<div class="body-frame">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <% if @user.user_image? %>
  <%= image_tag @user.user_image.url %>
  <% else %>
  <img src="/assets/face00.jpg">
  <% end %>
</p>
  <strong>PR:</strong>
  <%= @user.pr %>
</p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
</div>
<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '一覧', users_path %>

</div>